/*--Navigational Element Styling--*/
.navbar-brand{
    padding-top: 5px;
}

.navbar{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    background-color: #FFFFFF;
    color: #F9F6EE;
    padding: 16px;
    margin-right: 10px;
    border-bottom: 2px solid #E8E8E8;
}

.nav-item{
    margin: 4px;
}

@media (max-width: 900px) {
    .navbar-toggle {
        display: block;
    }
}

/*--Footer Elements--*/

.page-footer{
    background-color: #333333;
    color: #FFFFFF;
}

.page-section-title-footer{
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 15px;
}
    

.page-section-text-footer{
    font-family: 'Poppins', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.page-section-text-footer-pdf{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.page-section-text-footer-pdf a{
    display: inline-block; 
    margin-right: 10px;
    text-decoration: none;
    color: #333
}

.page-section-text-copyright{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
}

@media (max-width: 840px)
{
    .page-section-text-copyright{
        display: none;
    }
}



.page-section-title-quick-link{
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 15px;
}

.page-section-text-quick-link{
    font-family: 'Poppins', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

/*--Quick Link Colour--*/

a:link {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: underline;
}

/*--Hidden Container Element--*/
#copyright, #hiddenContainer{
    display: none;
    
}

@media (max-width: 840px)
{
    #copyright, #hiddenContainer{
        display: contents;
        
    }
}