/*--Navigational Element Styling--*/
.navbar-brand{
    padding-top: 5px;
}

.navbar{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    background-color: #FFFFFF;
    color: #F9F6EE;
    padding: 16px;
    margin-right: 10px;
    border-bottom: 2px solid #E8E8E8;
}

.nav-item{
    margin: 4px;
}

@media (max-width: 900px) {
    .navbar-toggle {
        display: block;
    }
}

/*--First Section of Text regarding Vision Test--*/
.page-section-title-vision{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
    
}

.page-section-text-vision{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 80px;
}


#visualChallengeImage{
    height: 600px;
    width: 100vw;
    object-fit: cover;
}

@media (max-width: 640px) {
    #visualChallengeImage {
        height: 400px;
    }
}

/*--Daily Challenges Section--*/
.page-section-title-daily-challenges{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

#columnOneChallenges{
    margin-left: 40px;
    margin-right: 40px;
}

#columnTwoChallenges{
    margin-left: 40px;
    margin-right: 40px;
}

#columnThreeChallenges{
    margin-left: 40px;
    margin-right: 40px;
}


.page-section-title-challenges{
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}

.page-section-text-challenges{
    font-size: 18px;
    font-family: 'Figtree', sans-serif;
    margin-bottom: 40px;
    
}

/*--Assistive Technologies Section--*/
.page-section-title-assistive-technologies{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

#columnOneTechnologies{
    margin-left: 40px;
    margin-right: 40px;
}

#columnTwoTechnologies{
    margin-left: 40px;
    margin-right: 40px;
}

#columnThreeTechnologies{
    margin-left: 40px;
    margin-right: 40px;
}


.page-section-title-technologies{
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}

.page-section-text-technologies{
    font-size: 18px;
    font-family: 'Figtree', sans-serif;
    margin-bottom: 40px;
    
}



/*--References--*/
.page-section-title-references{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/*--Footer Elements--*/

.page-footer{
    background-color: #333333;
    color: #FFFFFF;
}

.page-section-title-footer{
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 15px;
}
    

.page-section-text-footer{
    font-family: 'Poppins', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.page-section-text-footer-pdf{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.page-section-text-footer-pdf a{
    display: inline-block; 
    margin-right: 10px;
    text-decoration: none;
    color: #333
}

.page-section-text-copyright{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
}

@media (max-width: 840px)
{
    .page-section-text-copyright{
        display: none;
    }
}



.page-section-title-quick-link{
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 15px;
}

.page-section-text-quick-link{
    font-family: 'Poppins', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

/*--Quick Link Colour--*/

a:link {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: underline;
}

/*--Hidden Container Element--*/
#copyright, #hiddenContainer{
    display: none;
    
}

@media (max-width: 840px)
{
    #copyright, #hiddenContainer{
        display: contents;
        
    }
}